xmlresults.xml
allure-results/614b75a7-a78f-43f5-b278-924185aa4bd2-testsuite.xml
allure-results/8d17492b-484f-49b1-8c9a-aedc542d8d0b-testsuite.xml
allure-results/345a9da4-f92f-4099-a73e-7b4030fa5160-testsuite.xml
ProtractorTestReport.html
screenshots/chrome-demo calculator test subtraction test.png
target/screenshots/my-report.html
